page-find-parking-modal {
#close{
    display:block;
    float:right;
    width:30px;
    height:29px;
background:url(http://www.htmlgoodies.com/img/registrationwelcome/close_icon.png) no-repeat center center;
}

}
